[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git

[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git

[submodule "contracts/lib/erc3643"]
	path = contracts/lib/erc3643
	url = https://github.com/ERC-3643/ERC-3643.git

[submodule "contracts/lib/fhevm"]
	path = contracts/lib/fhevm
	url = https://github.com/zama-ai/fhevm-solidity.git
